img {
  width: 250px;
  height: 180px;
}

.modalImg {
  border-radius: 2%;
  box-shadow: 1em 1em 1.5em rgba(0, 0, 0, 0.46);
  padding-bottom: 1.5em;
}

.card {
  /* position: absolute; */
  margin: 0.5em 0.5em;
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  /* z-index: 999; */
}

.loading {
  opacity: 0.01;
}

.loaded {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.modal {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.title {
  margin: 0 1em;
  font-size: 1.5em;
  text-decoration: underline;
}

.rating {
  padding-bottom: 1em;
}

p {
  text-align: center;
  font-family: 'Play', sans-serif;
  margin-bottom: 0;
}
